.wraperAvatar {
  margin-top: 40px;
  padding-top: 20px;
  width: 300px;
  height: auto;
  border: solid 2px black;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(89, 44, 127);
}
.imag {
  width: 100px;
  height: 100px;
  background-color: rgb(49, 52, 52);
  border-radius: 50%;
}
.wraperAvatarNext {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}
.nameProfile {
  font-size: 20px;
  font-weight: 700;
  color: rgb(209, 195, 195);
}
.parProfile {
  color: rgb(217, 134, 51);
}
.listProfile {
  border-top: solid 2px rgb(99, 98, 98);
  margin-top: 20px;
  display: flex;
  background-color: rgb(51, 104, 157);
  justify-content: space-around;
  gap: 10px;
  color: rgb(209, 195, 195);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.listItemProfile {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listItemSpnProfile {
  font-weight: 700;
  color: rgb(209, 195, 195);
}
